/* NAVBAR CSS */
.logo {
    width: 2.3rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #2B3BA0;
}

.navbar-nav {
    --bs-nav-link-hover-color: #2B3BA0;
}

#sair {
    cursor: pointer;
}

/*  */

/* BODY CSS */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

/* h1 {
    margin-left: 4.6em;
} */

/* CONTENT CSS */
section {
    flex: 1 1 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0 3rem;
}

.toast-container {
    position: relative;
    top: 7em; 
    right: 0;
    z-index: 9999;
    width: 100%;
}

.toast {
    position: fixed;
    top: 7em;
    right: 0;
    transform: none;
    margin-right: 5px;
}

/* #btnCancelar a {
    color: #643F00;
}

#btnCancelar, #btnCancelar a:hover {
    color: #ffff
} */


/* FOOTER CSS */
footer {
    display: flex;
    flex: 0 1 auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #343a40;
    margin-top: 2rem;
}

@media screen and (max-width: 463px){
    .content {
        padding: 0;
        margin: 0;
    }
}